h2 {
  text-align: center;
}

.container {   
  border: 15px solid red;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  }  
  button {  
  background-color: lightblue;  
  color: black;  
  font-size: 25px;  
  }  


.options {
  text-align: center;
}